<div class="wrapper p-5 overflow-hidden mx-auto">
  <h1
    class="text-center mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white"
  >
    DevDetective
  </h1>
  <!-- Search bar -->
  <app-search-bar></app-search-bar>
  <div>
    <!-- skeleton loader -->
    <div *ngIf="isLoading">
      <app-skeleton-loader></app-skeleton-loader>
    </div>

    <div class="p-6">
      <div *ngIf="!isLoading">
        <!-- profile banner -->
        <app-profile-banner [userData]="userData"></app-profile-banner>
        <!-- repo cards -->
        <div
          class="mt-4 p-6 flex flex-wrap justify-around bg-white border border-gray-200 rounded-lg shadow"
        >
          <div class="m-2" *ngFor="let repo of repoData">
            <app-repo-card [repoData]="repo"></app-repo-card>
          </div>
        </div>
      </div>
    </div>

    <!-- pagination -->
    <div class="md:flex md:justify-center m-10">
      <mat-paginator
        [length]="100"
        [pageSize]="10"
        [pageSizeOptions]="[5, 10, 25, 100]"
        (page)="handlePaginate($event)"
        aria-label="Select page"
        class="bg-white"
      >
      </mat-paginator>
    </div>
  </div>
</div>
